{% extends 'base.html' %}

{% block body_block %}
<div class="jumbotron">
    <h1>Schools Details</h1>
    <p>Name:{{school_detail.name}}</p>
    <p>Principal:{{school_detail.principal}}</p>
    <p>Loaction:{{school_detail.location}}</p>
    <h3>Students</h3>
    {% for student in school_detail.students.all %}
        <p>{{student.name}} who is {{student.age}} </p>
    {% endfor %}
</div>
<div class="container">
    <p><a class='btn btn-warning' href='{% url 'basic:update' pk=school_detail.pk %}'>Update</a></p>
</div>
<div class="container">
    <p><a class='btn btn-warning' href='{% url 'basic:addstudent' %}'>Add Student</a></p>
</div>
<div class="container">
    <p><a class='btn btn-danger' href='{% url 'basic:delete' pk=school_detail.pk %}'>Delete School</a></p>
</div>
{% endblock body_block %}
